@media screen and (max-width: 767px) {
    .smAuthbg{
        background-image: url('../../public/images/javelin_flying_upwards_with_speed.png');
        background-size: cover;
        background-position: center;        
    }   
}
