$primary: #5945FF;
$blue_1: #1F263E;
$gray_1: #737791;
$gray_2: #656565;
$gray_3: #ebe6e7;
$white: #ffffff;
$white_1: #F8FAFF;
$white_2: #F1F5FF;
$red_1: #F56C89;
$black_1: #000000;
$green_1: #0AC947;
